[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
click = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
radon = "*"

[requires]
python_version = "3.6"
